*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body{ 
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  background: url(/assets/img/ццццвцвц.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 4;
}

.container{
  height: inherit;
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.navbar-menu{
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0; 
}

.navbar-menu li {
  display: inline-block;
  
}

.navbar-menu li a {
  display:  inline-block; 
  color: white;
  text-decoration: none;
  padding-right: 15px;
  align-items: center;
  font-size: 2.5vh;
  transition: all .1s ease-in-out;
}

.navbar-menu li:hover{
  text-shadow: 0 0 10px white;
}

.navbar-wrap{
  display: flex;
  flex-flow: row nowrap;
}

.navbar-LOGO{
  font-weight: bold;
  font-weight: 700px;
  font-size: 4vh;
  margin-left: 40px;
  text-decoration: none;
  color: white;
}

.navbar-LOGO:hover{
  filter: drop-shadow(0 0 5px white);
}
.PageName{
  position: relative;
  width: 100%;
  height: 52px;
  margin-top: 70px;
  
  background-color: rgb(36, 36, 36) ;
}

.Pcontainer{
  border-bottom: 1px solid #800f51;
  box-shadow: 0 0 10px #800f51;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-weight: normal;
  font-size: 20px;
  color: white;
}

main{
  width:100%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}
.Background_gradient{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 1538px;
  margin-left: auto;
  margin-right: auto;
}
.info{
  border: 1px solid #800f51;
  box-shadow: 0 0 10px #800f51;
  width: 770px;
  height: 500px;
  border-radius: 20px;
  background-color: rgb(35, 35, 35) ;
}
h2{
  padding-top: 30px;
  padding-left: 50px;
}
.icontainer{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Form input{
  border: none;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 20px;
  font-size: 18px;
  color: black;
}

.Form label{
  font-size: 18px;
  user-select: none;
  margin-bottom: 5px;
}
.Form a{
  margin-right: 60%;
}

br{
  margin-top: 10px;
}


footer{
  width:100%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.foot_wrap{
  display: flex;
  flex-flow: row nowrap;
}

.foot_menu{
  font-size: 20px;
  color: white;
  margin-top: 30px;
  margin-left: 20px;
  list-style: none;

}

.foot_menu li {
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

.foot_menu li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all .07s ease-in-out;
}

#hr1{
  margin-top: 30px;
}

.burger{
  display: none;
  position: relative;
  margin-right: 0px;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span{
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #FAF6F2;
}

.burger::before, .burger::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #FAF6F2;
  transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}


@media (max-width: 900px){

  html, body{ 
    font-family: Arial, Helvetica, sans-serif;
    background: url(#);
    background-color: #111;
  }

  .navbar-LOGO{
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .info{
    width: 90%;
    height: auto;
    border: 1px solid #800f51;
    box-shadow: 0 0 10px #800f51;
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 90px ;
    padding-bottom: 10vh;
    background-color: rgb(35, 35, 35);
  }

  .MainPicture{
    display: none;
  }

  .PageName{
    position: relative;
    width: 100%;
    height: 52px;
    margin-top: 12vh;
    
    background-color: rgb(36, 36, 36) ;
  }

  .navbar .container{
    padding: 6vh;
    
  }

  .burger { display: flex }

  .navbar-menu{
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: black;
    animation: burgerAnimation 0.4s;
  }

  .navbar-menu li{
    flex-direction: column;
    font-size: 7vh;
    row-gap: 30px;
  }

  .navbar-menu li a{
    text-align: center; 
    font-size: 4vh;
  }

  .icontainer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .Form{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  label{
    margin-bottom: 5px;
  }

  .Background_gradient{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

  }
}

@media  screen and (orientation: landscape) and (max-width: 1100px){
  html, body{ 
    font-family: Arial, Helvetica, sans-serif;
    background: url(#);
    background-color: #111;
  }

  .navbar-LOGO{
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 6vh;
  }

  .info{
    width: 50%;
    height: auto;
    border: 1px solid #800f51;
    box-shadow: 0 0 10px #800f51;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px ;
    padding-bottom: 10vh;
    background-color: rgb(35, 35, 35);
  }

  .MainPicture{
    display: none;
  }

  .PageName{
    position: relative;
    width: 100%;
    height: 52px;
    margin-top: 80px;
    
    background-color: rgb(36, 36, 36) ;
  }

  .navbar .container{
    padding: 40px;
  }

  .burger { display: flex }

  .navbar-menu{
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: black;
    animation: burgerAnimation 0.4s;
  }

  .navbar-menu li{
    flex-direction: column;
    font-size: 7vh;
    row-gap: 30px;
  }

  .navbar-menu li a{
    text-align: center; 
    font-size: 4vh;
  }

  .Form{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  label{
    margin-bottom: 5px;
  }

  .Background_gradient{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

  }
}

@keyframes burgerAnimation {
  from {opacity: 0}
  to {opacity: 1}
}