*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body{ 
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}


.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 4;
}

.navbar .container{
  height: inherit;
  background-color: rgb(65,65,65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar-menu{
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0; 
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display:  inline-block; 
  color: white;
  text-decoration: none;
  padding-right: 15px;
  align-items: center;
  font-size: 20px;
  transition: all .1s ease-in-out;
}

.navbar-wrap{
  display: flex;
  flex-flow: row nowrap;
}

.navbar-LOGO{
  font-weight: bold;
  font-weight: 700px;
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

.PageName{
  position: relative;
  width: 100%;
  height: 52px;
  margin-top: 70px;
  
  background-color: rgb(36, 36, 36) ;
}

.Pcontainer{
  border-bottom: 1px solid #800f51;
  box-shadow: 0 0 10px #800f51;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-weight: normal;
  font-size: 20px;
  color: white;
}

main{
  width:100%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}
.Background_gradient{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 1538px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 200px;
  background: radial-gradient( #800f51 70px, transparent 580px);
}

.info{
  border: 1px solid #800f51;
  box-shadow: 0 0 10px #800f51;
  width: 770px;
  height: 500px;
  border-radius: 20px;
  background-color: rgb(35, 35, 35) ;
}

h2{
  padding-top: 30px;
  padding-left: 50px;
}

.icontainer{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}

.Form{
  margin-top: 5vh;
}

.Form input{
  border: none;
  border-radius: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 15px;
  font-size: 18px;
  color: black;
}

.Form label{
  text-align: center;
  font-size: 18px;
  user-select: none;
}

br{
  margin-top: 10px;
}


footer{
  width:100%;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  padding-bottom: 10px;
  background-color: rgb(0, 0, 0);
}

.foot_wrap{
  display: flex;
  flex-flow: row nowrap;
}

.foot_menu{
  font-size: 20px;
  color: white;
  margin-top: 30px;
  margin-left: 20px;
  list-style: none;

}

.foot_menu li {
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

.foot_menu li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all .07s ease-in-out;
}

#hr1{
  margin-top: 30px;
}